.App {
	text-align: center;
}

.App-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 40vmin;
	pointer-events: none;
}

.App-header {
	background-color: #362825;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

.list-group{
    max-height: 539px;
    margin-bottom: 1px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.item-display{
	height: 350px;
	max-height: 350px;
}

.center {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.v-center {
	top: 50%;
}

.spell-display-align-centre {
	display: flex;
	margin: 1px;
	padding: 5px;
}

.spell-display-parent {
	position: relative;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.delete-button-align-right {
	position: absolute;
	top: -2;
	right: 0;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
} 

.btn-flat {
	background-color: purple;
	color: white;
}

.btn-xxl {
	padding: 1rem 1.5rem;
	font-size: 1.5rem;
}

.traitDisplayRow {
	margin-bottom: "15px";
}

.spellcasting-values {
	text-align: "center";
}